// Navigation Styles here
header {
 border-bottom: 2px dashed @navigation-border;
  padding:3%;



    nav{
        display:flex;
        justify-content: space-around;
        
        @media (max-width: 500px){
            flex-direction: column;
        }

         a {
         color: @shark;

         .logotext h2{
             display:flex;
             justify-content: flex-start;
         }//logoh2//
         }//a//
    }//nav//
} //header//

@media (max-width: 500px){
    flex-direction: column;
}
