// Navigation Styles here

header{

     .top-content{
        border-bottom: 2px dashed @navigation-border;
        margin: 0 30px;
    
     } //topcontent ends//
}//header ends//

.logoContainer{
    .spacing();
    max-width: 50%;

}

nav{
    display:flex;

    .links{
        justify-content: flex-end;

        .links a{
            justify-content: space-between;

        }
    }//links end//
}//nav ends//

    